// Core Colors

$top: #5A2b74;
$mid-top: #562F6F;
$mid-bottom: #4D2367;
$bottom: #412A58;

$bgGradient-start: #333333;
$bgGradient-end: #1A1A1A;

// IE9 SVG, needs conditional override of 'filter' to 'none'
$experimental-support-for-svg: true;

$baselineFontColor: #baabbe;

$formElementHeight: 30px;